{{ define "secondpage" }}

{{ template "header" }}

<body>
  <main role="main" class="iner cover">
   
   
    <form action="/save_article" method="post">
      <input type="title" name="title" id="title" placeholder="Введите название статьи" class="form-control"><br>
      <textarea name="anons" id="anons" class="form-control" placeholder="Введите анонс статьи"></textarea><br>
      <textarea name="full_text" id="full_text" class="form-control" placeholder="Введите текст статьи"></textarea><br>
      <button class="btn btn-warning">Добавить</button>
    </form>


    
    <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
        <div class="col">
          <div class="card">
            <img src="img/cat.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, mollitia!

              </p>
              <a href="#" class="btn btn-primary">Кнопащка</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/cat.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum nesciunt, ea placeat
                fugiat eligendi est quisquam impedit corporis similique laudantium.
              </p>
              <a href="#" class="btn btn-primary">Кнопащка</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/cat.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet.
              </p>
              <a href="#" class="btn btn-primary">Кнопащка</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>

{{ template "footer" }}

{{ end }}